<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav" style="position: fixed; z-index: 1; width: 100%; ">
    <div class="container-fluid">
      <a class="navbar-brand text-info ms-3" href="/"><strong>Ammuzon</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">

            <a class="nav-link" aria-current="page" href="/">Products</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Electronics</a></li>
              <li><a class="dropdown-item" href="#">Mobiles</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Entertiment</a></li>
              <li><a class="dropdown-item" href="#">Audio Books</a></li>
              <li><a class="dropdown-item" href="#">E-Books</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Audio Books</a></li>
              <li><a class="dropdown-item" href="#">E-Books</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart <span class="badge bg-info" id="cart-count">{{cartCount}}</span> </a>
          </li>
            {{#if user}}
              <li class="nav-item">
              <a class="nav-link" href="#">Orders</a>
              </li>
          {{/if}}
          <!--<li class="nav-item">
            <a class="nav-link" href="#">AdminLogIn</a>
          </li>-->

        </ul>
        
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info" type="submit">Search</button>
        </form>

        <div class="dropdown ps-2">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{#if user}}
                {{user.Name}}
              {{else}}
                 Account
            {{/if}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {{#if user}}
              <li><a class="dropdown-item text-danger" href="/logout">LogOut</a></li>
            {{else}}
              <li><a class="dropdown-item text-success" href="/login">LogIn</a></li>
              <li><a class="dropdown-item text-success" href="/signup">SignUp</a></li>
            {{/if}}
          </ul>
        </div>

      </div>
    </div>
  </nav>
</header>