<section id="undernav">
    <div class="text-center mt-5 py-5">
        <!--<h1 class="text-center btn-danger btn btn-lg"><strong>Your cart is empty!</strong></h1>-->
        <a href="/"><img src="https://assets.materialup.com/uploads/87d4df96-a55f-4f4b-9a17-a696eded97f3/preview.gif" alt="connection error"></a>

        <h4 class="text-primary mt-2">
            <span class="fw-bold">Oops!</span>
            <span class="text-primary">Your cart is </span>
            <span>empty!</span>
        </h4>
        <a href="/" class="btn btn-intigo btn-dark mt-2">Add products</a>
    </div>
    <style>
        .btn-intigo{
            background-color: rgba(104, 41, 146, 0.719);
        }
    </style>

</section>