<section id="undernav">

    <h2 class="text-danger text-center fw-bold mt-5">Demo Payment Process</h2>
    <p class="text-secondary text-center fst-italic">select the demo status of the online payment</p>

    <dir class="text-center pt-2 pe-5">
        <a href="/Payment-success" class="btn btn-success" style="width: 7rem;">Success</a>
        <a href="/payment-failed" class="btn btn-danger" style="width: 7rem;">Failed</a>
    </dir>

</section>